@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
	background-image: url("./images/bg-home.png");
	background-size: cover;
	background-repeat: no-repeat;
}
.container {
	@apply px-2 mx-auto;
}
